@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  overflow: hidden;
}

.ignore-clicks,
.ignore-clicks * {
  pointer-events: none !important;
}
